@import 'buttons.css';



body{
    background-color: #26B4BC;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    max-inline-size: 900px;
    margin: auto;
}

.player{
    margin-block-start: 50px;
   
    position: relative;
}

.player video{
    inline-size: 100%;
    
}

.player-title{
    color: white;
    position: absolute;
    inset-block-start:0;
    inset-inline-start: 20px;
   
}

.player-actions {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-progess{
    
    position: absolute;
    inset-block-end:0;
    inset-inline: 0;
    display: flex;
    padding: 10px;
}

.player-progess input {
    flex: 1;
}

.player-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .3s opacity;
  }
  
  .player:hover .player-overlay{
    opacity: 1;
  }